.dropdown-toggle::after {
    display: none;
    ;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task label.checked{
    text-decoration: line-through;
}